{% extends 'base.html.twig' %}

{% block body %}
    <h1>Transaction creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('transactions_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
{% block admin_lte_footer %}
<footer class="main-footer">
                <div class="pull-right hidden-xs"><b>Version</b> 1.0.0</div>
                <strong>Copyright &copy; 2019-2020 <a href="">Connecti</a>.</strong>
                All rights reserved.
            </footer>
{% endblock %}